@page "/"

<PageTitle>Home - Newt Welch</PageTitle>

<HeadContent>
    <meta name="newt welch" />
</HeadContent>

<h1/>

@* ==== *@
@* HOME *@
@* ==== *@
<div class="h-screen flex flex-col items-center justify-center -mt-24 md:mt-0">
    <h1 class="text-2xl text-white text-center font-secular">Hanlo! I am</h1>
    <h2 class="text-7xl text-center font-unica">
        <span class="text-secondary" >Newt</span>
        <span class="text-primary" >Welch</span>
    </h2>
</div>

<div class="grid items-center">
    <a class="mx-auto -mt-96 md:-mt-52 text-white transition ease-in-out hover:-translate-y-5 hover:scale-110" href="#projects">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-14" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M15.707 4.293a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 011.414-1.414L10 8.586l4.293-4.293a1 1 0 011.414 0zm0 6a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L10 14.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" /> </svg>
    </a>
</div>

@* ============= *@
@* GALLERY MODAL *@
@* ============= *@
<Modal IsOpen="@showModal">

    @foreach (var image in gallery){
        <img src="@image.Substring(7)" class="w-full aspect-video"/>
    }

</Modal>>

@* ======== *@
@* PROJECTS *@
@* ======== *@
<div class="flex w-screen h-screen items-center" id="projects">

    <div class="grid grid-rows-3 grid-cols-3 gap-5 md:gap-10 m-auto">
        
        @foreach (var project in projects)
        {
            <button class="w-32 h-32 hover:opacity-50" @onclick="() => DisplayGallery(projects.IndexOf(project))">
                <img src="@project.Substring(7)"/>
            </button>
        }

    </div>

</div>


@* ======= *@
@* CONTACT *@
@* ======= *@
<div class="flex w-screen h-screen items-center text-white" id="projects">

    CONTACT

</div>


@code
{
    private List<string> projects = Directory.GetFiles("wwwroot/Images/Projects", "*.png").ToList();
    private List<string> gallery = new List<string>();

    private bool showModal = false;

    private async Task DisplayGallery(int ID)
    {
        gallery.Clear();
        await Task.Run(() => Directory.GetFiles($"wwwroot/Images/{ID += 1}", "*.png").ToList()
                                      .ForEach(x => { gallery.Add(x); }));
        showModal = true;
    }
}