@page "/"

<h1/>

@* ==== *@
@* HOME *@
@* ==== *@
<div class="grid grid-rows-5 w-full h-screen">
    <div class="flex flex-col items-center justify-center row-span-4">
        <h1 class="text-2xl text-white text-center font-secular">Hanlo! I am</h1>
        <h2 class="text-7xl text-center font-unica">
            <span class="text-secondary" >Newt</span>
            <span class="text-primary" >Welch</span>
        </h2>
    </div>

<!-- -mt-96 md:-mt-52  -->

        <button class="mx-auto z-10 text-white transition ease-in-out hover:-translate-y-5 hover:scale-110" href="#projects"
                onclick="document.getElementById('projects').scrollIntoView({behavior:'smooth'})">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-14" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M15.707 4.293a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 011.414-1.414L10 8.586l4.293-4.293a1 1 0 011.414 0zm0 6a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L10 14.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" /> </svg>
        </button>
    <!-- ARROW DOWN -->
        <img src="/Images/Divider.png" class=""/>
</div>

@* ======== *@
@* PROJECTS *@
@* ======== *@
<div class="flex w-screen h-screen items-center bg-darkbg2" id="projects">

    <div class="grid grid-rows-3 grid-cols-3 gap-5 md:gap-10 m-auto">
        
        @foreach (var project in projects)
        {
            <button class="w-32 h-32 hover:opacity-50" @onclick="() => DisplayGallery(projects.IndexOf(project))">
                <img src="@project.Substring(7)"/>
            </button>
        }

    </div>

</div>


@* ======= *@
@* CONTACT *@
@* ======= *@
<div class="flex w-screen h-screen items-center bg-gradient-to-b from-darkbg2 to-transparent">

<body class="bg-gray-800 text-gray-100 px-8 py-12">
     
      <div class="max-w-screen-xl px-20 py-20 mx-auto bg-white text-gray-900 rounded-lg shadow-lg">

        <form action="https://formsubmit.co/welchnewt@gmail.com" method="POST">
          <h2 class="text-4xl lg:text-5xl font-secular text-primary leading-tight mb-10">SEND ME A MESSAGE!</h2>

          <div>
            <label for="name" class="uppercase text-darkbg2 font-secular">
              Name</label>
            <input class="w-full bg-gray-200 font-secular text-darkbg2 opacity-80 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
              type="text" name="name" required placeholder="Your name / the subject of your message">
          </div>

          <div class="mt-8">
            <label for="email" class="uppercase text-darkbg2 font-secular">
              Email</label>
            <input class="w-full bg-gray-200 font-secular text-darkbg2 opacity-80 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                   id="email" name="email" type="email" autocomplete="email" required placeholder="your@email.com">
          </div>

          <div class="mt-8">
            <label for="message" class="uppercase text-darkbg2 font-secular">
              Message</label>
            <textarea name="message" id="message" required placeholder="Your lengthy message here"
              class="w-full h-32 bg-gray-200 font-secular text-darkbg2 opacity-80 mt-2 p-3  rounded-lg focus:outline-none focus:shadow-outline"></textarea>
          </div>

          <div class="mt-8">    
            <button type="submit"
              class="uppercase font-secular tracking-wide bg-primary text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline">
              Send Message
            </button>
          </div>
        </form>
      </div>

    </body>
</div>


@* ============= *@
@* GALLERY MODAL *@
@* ============= *@
<Modal IsOpen="@showModal">

    @foreach (var image in gallery){
        <img src="@image.Substring(7)" class="w-full aspect-video"/>
    }

</Modal>>

@code
{
    private List<string> projects = Directory.GetFiles("wwwroot/Images/Projects", "*.png").ToList();
    private List<string> gallery = new List<string>();

    private bool showModal = false;

    private async Task DisplayGallery(int ID)
    {
        gallery.Clear();
        await Task.Run(() => Directory.GetFiles($"wwwroot/Images/{ID += 1}", "*.png").ToList()
                                      .ForEach(x => { gallery.Add(x); }));
        showModal = true;
    }
}